/* .container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    align-items: center;
    width: 600px;
    background: #f0f0f0;
    padding-bottom: 30px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: #ce1818;
    font-size: 48px;
    font-weight: 700;
}

.underline{
    width: 61px;
    height: 6px;
    background: #f10c0c;
    border-radius: 9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #d27777;
    border-radius: 6px;
}
.input img{
    margin: 0px 30px;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color:rgb(42, 77, 108);
    font-size: 19px;
}

.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: aliceblue;
    font-size: 18px;
}

.forgot-password span{
    color: navy;
    cursor: pointer;
}
 */


.course-description {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  .course-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
  
  .description {
    margin-bottom: 15px;
  }
  
  .enroll-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
  }
  
  .enroll-button:hover {
    background-color: #45a049;
  }
  
  .close-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f44336;
    color: #fff;
    border: none;
  }
  
  .close-button:hover {
    background-color: #d32f2f;
  }