.courseItem__div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
        0 5px 15px 0 rgba(0, 0, 0, 0.08);
    width: 20%;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    min-width: 250px;
    min-height: 200px;
    
}
.courseItem__div:hover{
  
    transform: scale(1.05);
    transition-duration: 250ms;
    z-index: 50;
}

.btns {
    display: flex;
    justify-content: center;
}

.course_description {
    text-align: center;
    color: black;
}
.para1{
    font-weight: bold;
}
